@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  /* background */
  --background: 248 250 252; /* #f8fafc */
  --foreground: 15 23 42; /* #0f172a */

  --card: 255 255 255;
  --card-foreground: 15 23 42;

  --primary: 59 130 246;
}

.dark {
  --background: 2 6 23; /* #020617 */
  --foreground: 226 232 240; /* #e2e8f0 */

  --card: 15 23 42;
  --card-foreground: 226 232 240;

  --primary: 96 165 250;
}
